*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: orange; */
}

.container{
    height:100vh;
    width: 100vw;
    display:grid;
    /* grid-template-columns: 1fr 3fr; */
    align-items: center;
    justify-content: center;
    background-color: #3e3e3e;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    background-color: #fff;
    gap: 0;
}
.cell{
    border:1px solid #abc;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}

.result{
    color:white;
    font-size: 1.5rem;
}

dialog{
    width:50vh;
    height:20vh;
    align-self: center;
    justify-self: center;
    outline: none;
    border-radius: 0.5rem;
}
dialog:focus{
    outline:none;
    border: none;
}

dialog::backdrop{
    background-color: rgba(99,99,99,55%);
}